{% extends 'common/layout.html' %}
{% load staticfiles %}
{% block style %}
    <link href="{% static 'appmanager/style/appid_add.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'appmanager/js/appid_add.js' %}"></script>
{% endblock %}
{% block center %}
<div id="p" class="easyui-panel" title="注册app_id" fit="true" style="padding:10px;">
    <form class="am-form am-form-horizontal" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div style="margin-bottom:20px">
                <div style="margin-bottom:5px;">{{ field.name }}:</div>
                {% if edit %}
                    {% ifequal field.name 'app_id' %}
                        <input class="easyui-textbox" style="width:50%;height:32px" readonly="readonly" name="{{ field.name }}" value="{{ field.value | default_if_none:'' }}"/>
                    {% endifequal %}
                    {% ifequal field.name 'app_name' %}
                        <input class="easyui-textbox" style="width:50%;height:32px" readonly="readonly" name="{{ field.name }}" value="{{ field.value | default_if_none:'' }}"/>
                    {% endifequal %}
                    {% ifequal field.name 'app_owner' %}
                        <input class="easyui-textbox" style="width:50%;height:32px" name="{{ field.name }}" value="{{ field.value | default_if_none:'' }}"/>
                    {% endifequal %}
                    {% ifequal field.name 'created_by' %}
                        <input class="easyui-textbox" style="width:50%;height:32px" name="{{ field.name }}" value="{{ field.value | default_if_none:'' }}"/>
                    {% endifequal %}
                {% else %}
                    <input class="easyui-textbox" style="width:50%;height:32px" name="{{ field.name }}" value="{{ field.value | default_if_none:'' }}"/>
                {% endif %}
                <div style="width:50%;">{{ field.errors }}</div>
            </div>
        {% endfor %}
        <div style="width:50%;margin-top:30px;">
			<button class="easyui-linkbutton" iconCls="icon-ok" type="submit" style="width:50%;height:32px">确定</button>
			<button class="easyui-linkbutton" iconCls="icon-ok" type="submit" style="width:50%;height:32px">确定</button>
		</div>
    </form>
</div>
{% endblock %}
