{% extends 'common/layout.html' %}
{% load staticfiles %}
{% block style %}
    <link href="{% static 'appmanager/style/appid_list.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'appmanager/js/appid_list.js' %}"></script>
{% endblock %}
{% block center %}
    <table id="appids-table" data-options="toolbar:'#tb'"></table>

    <div id="tb" style="padding:5px;height:auto">
        <div>
            <form id="formSearch">
                {% csrf_token %}
                app_id: <input class="easyui-textbox" style="width:100px;" name="app_id">
                app_name: <input class="easyui-textbox" style="width:100px;" name="app_name">
                app_owner: <input class="easyui-textbox" style="width:100px;" name="app_owner">
                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="btn_query">提交</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="btn_reset">重置</a>
            </form>
        </div>
    </div>
{% endblock %}



















