{% extends 'common/layout.html' %}
{% load staticfiles %}
{% block style %}
    <link href="{% static 'appmanager/style/projects_list.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'appmanager/js/projects_list.js' %}"></script>
{% endblock %}
{% block center %}
    <table id="projects-table" data-options="toolbar:'#tb'"></table>

    <div id="tb" style="padding:5px;height:auto">
        <div>
            <form id="formSearch">
                {% csrf_token %}
                project_id: <input class="easyui-textbox" style="width:100px;" name="project_id">
                project_name: <input class="easyui-textbox" style="width:100px;" name="project_name">
                project_appid: <input class="easyui-textbox" style="width:100px;" name="project_appid">
                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="btn_query">提交</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="btn_reset">重置</a>
            </form>
        </div>
    </div>
{% endblock %}
















