{% extends 'common/layout.html' %}
{% load staticfiles %}
{% block style %}
    <!--css样式-->
    <link href="{% static 'common/bootstrap-table/src/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'timer/style/intg_list.css' %}" rel="stylesheet">
    <link href="{% static 'common/jQuery-searchableSelect/jquery.searchableSelect.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <!--js-->
    <script src="{% static 'common/bootstrap-table/src/bootstrap-table.js' %}"></script>
    <script src="{% static 'common/bootstrap-table/src/locale/bootstrap-table-zh-CN.js' %}"></script>
    <script src="{% static 'common/jQuery-searchableSelect/jquery.searchableSelect.js' %}"></script>
    <script src="{% static 'timer/js/intg_list.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="panel-body" style="padding-bottom:0px;">
        <div>
            <form id="formSearch" class="am-form-inline" role="form" style="text-align:center">
                {% csrf_token %}
                <div class="am-form-group am-form-group-sm">
                    <input type="text" id="txt_search_integration_point_name" class="am-form-field" placeholder="integration_point_name"/>
                </div>
                <div class="am-form-group am-form-group-sm">
                    <input type="text" id="txt_search_env_name" class="am-form-field" placeholder="env_name"/>
                </div>
                <div class="am-form-group am-form-group-sm">
                    <input type="text" id="txt_search_source_client_name" class="am-form-field" placeholder="source_client_name"/>
                </div>
                <div class="am-form-group am-form-group-sm">
                    <input type="text" id="txt_search_target_client_name" class="am-form-field" placeholder="target_client_name"/>
                </div>
                <button type="button" name="SubmitButton" id="btn_query" class="am-btn am-btn-success am-btn-sm">提交</button>
                <button type="button" name="ResetButton" id="btn_reset" class="am-btn am-btn-success am-btn-sm">重置</button>
            </form>
            <div style="clear:both;"></div>
        </div>

        <div class=table-responsive">
            <!-- 不换行 -->
            <table id="intg_list_table" class="table text-nowrap"></table>
        </div>
    </div>
{% endblock %}


