{% extends 'common/layout.html' %}
{% load staticfiles %}
{% block style %}
    <!--css样式-->
    <link href="{% static 'common/bootstrap-table/src/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'timer/style/intg_list.css' %}" rel="stylesheet">
    <link href="{% static 'common/jQuery-searchableSelect/jquery.searchableSelect.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <!--js-->
    <script src="{% static 'common/bootstrap-table/src/bootstrap-table.js' %}"></script>
    <script src="{% static 'common/bootstrap-table/src/locale/bootstrap-table-zh-CN.js' %}"></script>
    <script src="{% static 'common/jQuery-searchableSelect/jquery.searchableSelect.js' %}"></script>
    <script src="{% static 'timer/js/intg_list.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="panel-body" style="padding-bottom:0px;">
<!--        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-inline">
                    <div class="form-group" style="width:45%;">
                        <label for="txt_search_integration_point_name" style="width:30%;">集成点名称:</label>
                        <input type="text" name="integration_point_name" class="form-control" id="txt_search_integration_point_name" placeholder="请输入有效的值">
                    </div>
                    <div class="form-group" style="width:45%;">
                        <label for="txt_search_env_name" style="width:30%;">环境名称:</label>
                        <input type="text" name="env_name" class="form-control" id="txt_search_env_name" placeholder="请输入有效的值">
                    </div>
                    <div class="form-group" style="width:45%;">
                        <label for="txt_search_source_client_name" style="width:30%;">源系统:</label>
                        <input type="text" name="source_client_name" class="form-control" id="txt_search_source_client_name" placeholder="请输入有效的值">
                    </div>
                    <div class="form-group" style="width:45%;">
                        <label for="txt_search_target_client_name" style="width:30%;">宿系统:</label>
                        <input type="text" name="target_client_name" class="form-control" id="txt_search_target_client_name" placeholder="请输入有效的值">
                    </div>
                    <div class="form-group" style="width:45%;text-align:center;">
                        <button type="button" name="SubmitButton" id="btn_query" class="btn btn-success">提交</button>
                        <button type="button" name="ResetButton" id="btn_reset" class="btn btn-success">重置</button>
                    </div>
                </form>
            </div>
        </div>-->

        <div>
            <form id="formSearch" class="am-form-inline" role="form" style="text-align:center">
                {% csrf_token %}
                <div class="am-form-group am-form-group-sm">
                    <input type="text" id="txt_search_integration_point_name" class="am-form-field" placeholder="integration_point_name"/>
                </div>
                <div class="am-form-group am-form-group-sm">
                    <input type="text" id="txt_search_env_name" class="am-form-field" placeholder="env_name"/>
                </div>
                <div class="am-form-group am-form-group-sm">
                    <input type="text" id="txt_search_source_client_name" class="am-form-field" placeholder="source_client_name"/>
                </div>
                <div class="am-form-group am-form-group-sm">
                    <input type="text" id="txt_search_target_client_name" class="am-form-field" placeholder="target_client_name"/>
                </div>
                <button type="button" name="SubmitButton" id="btn_query" class="am-btn am-btn-success am-btn-sm">提交</button>
                <button type="button" name="ResetButton" id="btn_reset" class="am-btn am-btn-success am-btn-sm">重置</button>
            </form>
            <div style="clear:both;"></div>
        </div>

        <div class=table-responsive">
            <table id="intg_list_table" class="table"></table>
        </div>
    </div>
{% endblock %}


