{% extends 'common/layout.html' %}
{% load staticfiles %}
{% block style %}
    <!--css样式-->
    <link href="{% static 'common/bootstrap-table/src/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'timer/style/intg_edit.css' %}" rel="stylesheet">
    <link href="{% static 'common/jQuery-searchableSelect/jquery.searchableSelect.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <!--js-->
    <script src="{% static 'common/bootstrap-table/src/bootstrap-table.js' %}"></script>
    <script src="{% static 'common/bootstrap-table/src/locale/bootstrap-table-zh-CN.js' %}"></script>
    <script src="{% static 'common/jQuery-searchableSelect/jquery.searchableSelect.js' %}"></script>
    <script src="{% static 'timer/js/intg_edit.js' %}"></script>
{% endblock %}

{% block main %}

<div>
    <div class="progress" style="width:50%;float:right;margin-right:30px;">
        <div class="progress-bar progress-bar-warning progress-bar-striped active first" style="width:33%"></div>
        <div class="progress-bar progress-bar-danger progress-bar-striped active second" style="width:33%"></div>
        <div class="progress-bar progress-bar-success progress-bar-striped active third" style="width:34%"></div>
    </div>
</div>

<div id="timer_content">
    <div id="intg_edit_resource">
        第一步:DB验证
        <div id="intg_desc">
            集成点名称:<span style="color:#FFFF66" id="integration_point_name">{{ integration_point_name }}</span>,
            版本号:<span style="color:#FFFF66" id="integration_point_version">{{integration_point_version}}</span>,
            源系统:<span style="color:#FFFF66" id="source_client_name">{{source_client_name}}</span>,
            宿系统:<span style="color:#FFFF66" id="target_client_name">{{target_client_name}}</span>
        </div>
        <div class="resource_content" style="float:left;width:50%;">
            <div class="center">
                请选择源资源组
                <select name="src_resource" value="{{ timerIntgPoint.source_db_conn }}">
                    {% for src_resource in src_resources %}
                    <option value ="{{ src_resource.resource_name }}">{{ src_resource.resource_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="resource_info center"></div>
            <div class="connection_test center"></div>
            <div class="operate_more">
                <p>更多操作：</p>
                <ul>
                    <li><a href="#">检视DB中的表</a></li>
                    <li><a href="#">资源组对比</a></li>
                    <li><a href="#">集成点关联</a></li>
                    <li><a href="#">项目关联</a></li>
                    <li><a href="#">资源组使用情况</a></li>
                </ul>
            </div>
        </div>
        <div class="resource_content" style="float:left;width:50%;">
            <div class="center">
                请选择宿资源组
                <select name="target_resource"  value="{{ timerIntgPoint.source_db_conn }}">
                    {% for target_resource in target_resources %}
                    <option value ="{{ target_resource.resource_name }}">{{ target_resource.resource_name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="resource_info center"></div>
            <div class="connection_test center">
            </div>
            <div class="operate_more">
                <p>更多操作：</p>
                <ul>
                    <li><a href="#">检视DB中的表</a></li>
                    <li><a href="#">资源组对比</a></li>
                    <li><a href="#">集成点关联</a></li>
                    <li><a href="#">项目关联</a></li>
                    <li><a href="#">资源组使用情况</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="sql_input">
        第二步:sql录入
        <table id="sql_data" class="table table-condensed table-bordered">
            <tr class="success">
                <td style="width:10%;">操作</td>
                <td style="width:30%;">上游sql</td>
                <td style="width:30%;">下游sql</td>
                <td style="width:30%;">验证结果</td>
            </tr>
            <!-- 变量存在则循环显示 -->
            {% if timerIntgStepRelations %}
                {% for timerIntgStepRelation in timerIntgStepRelations %}
                <tr>
                    <td>
                        <a href="#" onclick="sql_vlidate_all(this);">验证所有</a><br>
                        <a href="#" onclick="sql_delete(this);">删除当前</a><br>
                        <a href="#" onclick="sql_add(this);">新增一行</a><br>
                    </td>
                    <td>
                        <textarea style="width:100%;height:200px;">{% for timerIntgPerstep in timerIntgPersteps %}{% if timerIntgPerstep.id == timerIntgStepRelation.from_step_id %}{{ timerIntgPerstep.perstep_conf }}{% endif %}{% endfor %}</textarea>
                    </td>
                    <td>
                        <textarea style="width:100%;height:200px;">{% for timerIntgPerstep in timerIntgPersteps %}{% if timerIntgPerstep.id == timerIntgStepRelation.to_step_id %}{{ timerIntgPerstep.perstep_conf }}{% endif %}{% endfor %}</textarea>
                    </td>
                    <td></td>
                </tr>
                {% endfor %}
            {% else %}
                <!-- 不存在则显示一行空元素 -->
                <tr>
                    <td>
                        <a href="#" onclick="sql_vlidate_all(this);">验证所有</a><br>
                        <a href="#" onclick="sql_delete(this);">删除当前</a><br>
                        <a href="#" onclick="sql_add(this);">新增一行</a><br>
                    </td>
                    <td>
                        <textarea style="width:100%;height:200px;"></textarea>
                    </td>
                    <td>
                        <textarea style="width:100%;height:200px;"></textarea>
                    </td>
                    <td></td>
                </tr>
            {% endif %}
        </table>
    </div>

    <div id="field_show">
        第三步:字段映射
        <hr>
        <div style="width:95%;margin:0 auto;margin-top:60px;" class="am-panel-group fieldMappingAccordion" id="accordion1">
            <div class="am-panel am-panel-success">
                <div class="am-panel-hd" style="display:none;">
                    <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion1', target: '#do-not-say-aaa'}">第 i 组字段 mapping</h4>
                </div>
                <div id="do-not-say-aaa" class="am-panel-collapse am-collapse">
                    <table class="table table-bordered">
                        <tr class="info">
                            <td>字段名称</td>
                            <td>字段类型</td>
                            <td>字段名称</td>
                            <td>字段类型</td>
                        </tr>
                        <tr class="warning">
                            <td>A</td>
                            <td>B</td>
                            <td>D</td>
                            <td>E</td>
                        </tr>
                        <tr class="danger">
                            <td>A</td>
                            <td>B</td>
                            <td>D</td>
                            <td>E</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="timer_botton">
    <button type="button" class="btn btn-success next_step">下一步</button>
    <button type="button" class="btn btn-success pres_step">上一步</button>
    <button type="button" class="btn btn-success save">保存</button>
    <button type="button" class="btn btn-success build">构建</button>
</div>

<div>
    <p style="color:blue;">编辑历史</p>
    <hr>
</div>

{% endblock %}



