{% load staticfiles %}
<script src="{% static 'index/js/left_menu.js' %}"></script>
<div class="left_menu">
    <div id="doc-oc-demo1" class="am-offcanvas">
        <div class="am-offcanvas-bar">
            <div class="am-offcanvas-content" style="color:#99FF00;">
                <p>
                    App管理 <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/appmanager/appid_list/">查询AppId</a> <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/appmanager/appid_add/">新增AppId</a> <br>
                </p>
                <p>
                    项目管理 <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/appmanager/projects_list/">查询Project</a> <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新增Project</a> <br>
                </p>
                <p>
                    资产管理 <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/resources/client_list/">查询CI</a> <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/resources/resources_list/">查询Resource</a> <br>
                </p>
                <p>
                    定时集成Timer <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/timer/intg/config/">集成配置</a> <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/timer/intg/list/">集成清单</a> <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/timer/intg/dev/">集成开发</a> <br>
                </p>
                <p>
                    服务集成Publisher <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/publisher/intg/config/">路由配置</a> <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/publisher/intg/list/">集成清单</a> <br/>
                </p>
                <p>
                    集成部署 <br/>
                </p>
                <p>
                    集成测试 <br/>
                </p>
                <p>
                    变更上线 <br/>
                </p>
                <p>
                    快速运维 <br/>
                </p>
            </div>
        </div>
    </div>
</div>
