{% load staticfiles %}
<script src="{% static 'index/js/left_menu.js' %}"></script>
<div class="left_menu">
<!--    <div class="list-group">
        <div>
            <a href="#" class="list-group-item list-group-item-success">&gt;&gt;应用管理&lt;&lt;</a>
            <a href="/appmanager/appid_list/" class="list-group-item">&emsp;&emsp;查询AppId</a>
            <a href="/appmanager/appid_add/" class="list-group-item">&emsp;&emsp;新增AppId</a>
            <a href="/index/index/" class="list-group-item">&emsp;&emsp;返回首页</a>
        </div>
        <div>
            <a href="#" class="list-group-item list-group-item-info">&gt;&gt;项目管理&lt;&lt;</a>
            <a href="/appmanager/projects_list/" class="list-group-item">&emsp;&emsp;查询Project</a>
            <a href="#" class="list-group-item">&emsp;&emsp;新增Project</a>
        </div>
        <div>
            <a href="#" class="list-group-item list-group-item-warning">&gt;&gt;资产管理&lt;&lt;</a>
            <a href="/resources/client_list/" class="list-group-item">&emsp;&emsp;查询CI</a>
            <a href="/resources/resources_list/" class="list-group-item">&emsp;&emsp;查询Resource</a>
        </div>
        <div>
            <a href="#" class="list-group-item list-group-item-danger">&gt;&gt;定时集成Timer&lt;&lt;</a>
            <a href="/timer/intg/config/" class="list-group-item">&emsp;&emsp;集成配置</a>
            <a href="/timer/intg/list/" class="list-group-item">&emsp;&emsp;集成清单</a>
            <a href="/timer/intg/dev/" class="list-group-item">&emsp;&emsp;集成开发</a>
            <a href="#" class="list-group-item">&emsp;&emsp;集成部署</a>
            <a href="#" class="list-group-item">&emsp;&emsp;集成测试</a>
            <a href="#" class="list-group-item">&emsp;&emsp;变更上线</a>
        </div>
    </div>-->

    <div id="doc-oc-demo1" class="am-offcanvas">
        <div class="am-offcanvas-bar">
            <div class="am-offcanvas-content" style="color:#99FF00;">
                <p>
                    App管理 <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/appmanager/appid_list/">查询AppId</a> <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/appmanager/appid_add/">新增AppId</a> <br>
                </p>
                <p>
                    项目管理 <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/appmanager/projects_list/">查询Project</a> <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新增Project</a> <br>
                </p>
                <p>
                    资产管理 <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/resources/client_list/">查询CI</a> <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/resources/resources_list/">查询Resource</a> <br>
                </p>
                <p>
                    定时集成Timer <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/timer/intg/config/">集成配置</a> <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/timer/intg/list/">集成清单</a> <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/timer/intg/dev/">集成开发</a> <br>
                </p>
                <p>
                    集成部署 <br/>
                </p>
                <p>
                    集成测试 <br/>
                </p>
                <p>
                    变更上线 <br/>
                </p>
                <p>
                    快速运维 <br/>
                </p>
            </div>
        </div>
    </div>
</div>
