ul li{
    list-style-type:none;
}

.connection_test{
    display:none;
    font-size:16px;
    text-align:center;
}

.resource_info,.connection_test{
    margin:20px;
}

.center{
    text-align:center;
}

.operate_more{
    margin-left:80px;
    display:none;
}

#intg_edit_resource,#sql_input,#field_show{
    min-height:400px;
    margin:30px;
}

#intg_desc{
    background:#4aaa4a;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:15px;
}

.pres_step,.next_step,.build,.save{
    float:right;
    width:120px;
    margin-right:30px;
}